*~
*.class
*.jar
*.eld
/.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# maven
target
.flattened-pom.xml
.classpath
.project
.settings

# local maven repo in CI/CD
# must be ignored for formatting test
/.m2
.mvn/.develocity/

## gradle
.gradle
**/build/
**/buildScr/
!gradle-wrapper.jar
.gradletasknamecache
